.header {
  display: flex;
  justify-content: center;
  background-color: #e44848;
  padding: 20px;
  box-sizing: border-box;
  font-size: 32px;
  font-weight: 700;
  border-radius: 50px;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  margin: 0 35px;
  color: #fff;
}

.active {
  color: #475467;
}
